@use "../../assets/sass/reset" as *;

.filter-item {
  background-color: #fff;
  color: #525252;
  padding: 1em 3em;
  margin: 0.5rem;
  border-radius: 7px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
}
