@use "../../assets/sass/reset" as *;
@use "../../assets/sass/variables" as *;
@use "../../assets/sass/fonts" as *;

.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: $color-card-text;
  padding: 0.5em 1.5em;
  margin: 0.5rem 0;
  border-radius: 7px;
  box-shadow: $color-box-shadow;

  &__label {
    margin-right: 0.5rem;
  }

  &:hover {
    background-color: $color-hover;
  }

  @media (min-width: 600px) {
    // margin-right: 1rem;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }
}
