@use "../../assets/sass/reset" as *;
@use "../../assets/sass/variables" as *;

.filter-list {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
  }

  &__heading {
    color: $color-white;

    @media (min-width: 768px) {
      align-self: center;
    }
  }
}
