@use "../../assets/sass/reset" as *;
@use "../../assets/sass/variables" as *;
@use "../../assets/sass/fonts" as *;

.card {
  &__content {
    position: relative;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 3em 1em;
    border-radius: 20px;
    background-color: white;
    color: $color-card-text;
    box-shadow: $color-box-shadow;

    &:hover {
      background-color: $color-hover;
    }
  }

  &__description-heading {
    margin: 2rem 0 1rem;
  }

  &__button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: 2px solid $color-pale-aqua;
    border-radius: 20px;
    background-color: white;
    padding: 0.5em 1em;

    &:hover,
    &:focus {
      box-shadow: $color-box-shadow;
      border: 2px solid $color-black;
      background-color: $color-black;
      color: white;
      transform: scale(1.1);
    }
  }

  &__img {
    margin-top: 2rem;
    height: 10rem;
    width: auto;
  }

  &__heading {
    margin-top: 2rem;
  }

  &__tagline {
    margin-top: 1rem;
  }

  &__first-brewed {
    margin-top: 2rem;
  }

  &__abv {
    margin-top: 0.5rem;
  }
}
