@use "../../assets/sass/reset" as *;
@use "../../assets/sass/variables" as *;

.nav {
  display: flex;
  flex-direction: column;

  color: grey;
  border: 1px solid;

  @media (min-width: 600px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }
}
