@use "../../assets/sass/reset" as *;
@use "../../assets/sass/variables" as *;

.nav {
  display: flex;
  flex-direction: column;
  color: grey;
  padding: 1em;

  &__filter-list-heading {
    margin-bottom: 1rem;
    text-align: center;
  }

  @media (min-width: 600px) {
    align-items: center;
  }
}
