@use "./assets/sass/reset" as *;

.app {
  border: 1px solid red;
  padding: 1em;
  margin: 0 auto;
  background-color: #01cbcb;
  background-image: linear-gradient(90deg, #01cbcb 0%, #96ded2 100%);
}

.content {
  display: flex;
  flex-direction: column;
}
