@use "./assets/sass/reset" as *;
@use "./assets/sass/variables" as *;

.app {
  margin: 0 auto;
  background-color: #f0f0f0;
  background-image: linear-gradient(90deg, #f0f0f0 0%, #ffffff 100%);

  &__content {
    display: flex;
    flex-direction: column;
  }
}
