@use "./assets/sass/reset" as *;
@use "./assets/sass/variables" as *;

.app {
  margin: 0 auto;
  background-color: #f0f0f0;
  background-image: linear-gradient(90deg, #f0f0f0 0%, #ffffff 100%);

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    width: 20%;
    align-self: center;
    margin-top: 2rem;

    @media (min-width: 768px) {
      align-self: flex-start;
      margin-left: 7.5rem;
      width: 10%;
    }
  }
}
