@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

$color-aqua: #01cbcb;
$color-pale-aqua: #96ded2;
$color-black: black;
$color-white: whitesmoke;
$color-card-text: #525252;
$color-hover: #f5f5f5;
$color-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19), 0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
